{% extends 'list.html' %}

{% block columns %}
    <th style="width: 10%;" class="text-center">Nro</th>
    <th style="width: 15%;" class="text-center">Nombre</th>
    <th style="width: 10%;">Icono</th>
    <th style="width: 5%;">Imagen</th>
    <th style="width: 15%;">Tipo</th>
    <th style="width: 10%;">Vertical</th>
    <th style="width: 10%;">Visible</th>
    <th style="width: 10%;">Estado</th>
    <th style="width: 15%;" class="text-center"><i class="fas fa-wrench" aria-hidden="true"></i></th>
{% endblock %}

{% block rows %}
    {% for i in object_list %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.name }}</td>
            <td class="text-center"><i class="{{ i.get_icon }}" aria-hidden="true"></i></td>
            <td class="text-center"><img src="{{ i.get_image }}" class="img-fluid mx-auto d-block" style="width: 20px; height: 20px;"></td>
            <td>{{ i.get_type }}</td>
            <td class="text-center">
                {% if i.is_vertical %}
                    <b class="badge badge-success">Activo</b>
                {% else %}
                    <b class="badge badge-danger">Inactivo</b>
                {% endif %}
            </td>
            <td class="text-center">
                {% if i.is_visible %}
                    <b class="badge badge-success">Activo</b>
                {% else %}
                    <b class="badge badge-danger">Inactivo</b>
                {% endif %}
            </td>
            <td class="text-center">
                {% if i.is_active %}
                    <b class="badge badge-success">Activo</b>
                {% else %}
                    <b class="badge badge-danger">Inactivo</b>
                {% endif %}
            </td>
            <td class="text-center">
                <a href="{% url 'module_update' i.id %}" data-toggle="tooltip" title="Editar registro" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="{% url 'module_delete' i.id %}" rel="delete" data-toggle="tooltip" title="Eliminar registro" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
