{% load static %}
{% load security_tags %}
<aside class="main-sidebar elevation-4 {{ comp.sidebar }}">
    <a href="{% url 'home' %}" class="brand-link {{ comp.brand_logo }}">
        <img src="{{ comp.get_image }}" alt="AdminLTE Logo" class="brand-image" style="opacity: .8">
        <span class="brand-text font-weight-light">{{ comp.name }}</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.get_short_name }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Módulos</li>
                {% for m in request.session.group.id|get_modules_type_session %}
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon {{ m.icon }}"></i>
                            <p>
                                {{ m.name }}
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            {% for mod in m.id|get_modules_vertical_session:request.session.group.id %}
                                <li class="nav-item">
                                    <a href="{{ mod.url }}" class="nav-link">
                                        <i class="{{ mod.icon }} nav-icon"></i>
                                        <p>{{ mod.name }}</p>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                <li class="nav-header">Opciones</li>
                {% for m in  request.session.group.id|get_modules_horizontal_session %}
                    <li class="nav-item">
                        <a href="{{ m.url }}" class="nav-link">
                            <i class="nav-icon {{ m.icon }}"></i>
                            <p>
                                {{ m.name }}
                            </p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</aside>